﻿@{
    ViewData["Title"] = "Gallery";
}

@model List<GalleryViewModel>

<!-- Page Header-->
<header class="masthead" style="background-image: url('/assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Life Ideas</h1>
                    <span class="subheading">Ignite your thoughts, Illuminate the world</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="justify-content-center">
    <div class="row" id="imageGallery">

        @if (Model != null && Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                @*var post = @posts.FirstOrDefault(p => p.Id == @item.PostId);*@
                @*<a asp-action="Detail" asp-controller="Post" asp-route-year="@post.PostedOn.Year" asp-route-month="@post.PostedOn.Month" asp-route-title="@post.Title">*@
                <div class="col-md-4">
                    <div class="galleryhome">
                        <img class="myImg" src="@Url.Content(item.ImageUrl)" alt="@item.Title" width="600" height="400">
                        <div class="desc">@item.Description</div>

                        <!-- The Modal -->
                        <div id="myModal" class="modal">
                            <img class="modal-content" id="img01">
                            <div id="caption"></div>
                        </div>
                    </div>
                </div>
                @*</a>*@
            }
        }
    </div>

    <!-- Pager -->
    <div id="pagination" class="d-flex justify-content-center">
        <a class="btn btn-primary text-uppercase" id="pageImagesLink">Next page →</a>
    </div>
</div>
<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the images and insert them inside the modal - use their "alt" text as captions
    var images = document.getElementsByClassName("myImg");
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");

    for (var i = 0; i < images.length; i++) {
        images[i].onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
        }
    }

    // Close the modal when clicking anywhere on the screen
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>