﻿@{
    ViewData["Title"] = "Home Page";
}
@model List<PostViewModel>;

<!-- Page Header-->
<header class="masthead" style="background-image: url('/assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Life Ideas</h1>
                    <span class="subheading">Ignite your thoughts, Illuminate the world</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="row" id="imageGallery">
            @if (Model != null && Model.Count > 0)
            {
                @foreach (var item in Model)
                {
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a asp-action="Detail" asp-controller="Post" asp-route-year="@item.PostedOn.Year" asp-route-month="@item.PostedOn.Month" asp-route-title="@item.Title">
                            <h2 class="post-title">@item.Title</h2>
                            <h3 class="post-subtitle">@item.ShortDescription</h3>
                        </a>
                        @*<div>
                @Html.CategoryLink(name: item.Category.Name, slug: item.Category.UrlSlug)
                </div>*@
                        <div>
                            @await Html.PartialAsync("Component/_PopularTagsPartial", model: item.Tags)
                        </div>
                        <p class="post-meta">
                            Posted @item.PostedOn.FriendlyFormat() with rate @item.Rate by @item.ViewCount view(s)
                        </p>
                        <!-- Divider-->
                        <hr class="my-4" />
                    </div>
                }
            }
        </div>
        <!-- Pager-->
        <div id="pagination" class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" id="pageImagesLink">Next page → </a></div>
    </div>
</div>

