﻿@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using JustBlog.Services.Category;
@using JustBlog.Services.Post;
@using JustBlog.Services.Tag;

@inject ICategoryService CategoryService;
@inject ITagService TagService;
@inject IPostService PostService;

@model List<CategoryViewModel>

<!-- Page Header-->
<header class="masthead" style="background-image: url('/assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Life Ideas</h1>
                    <span class="subheading">Ignite your thoughts, Illuminate the world</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-9 mx-auto" style="padding-right: 20px;">
            <h2 class="display-4 fw-bold">Categories</h2>
            @if (Model != null && Model.Count() > 0)
            {
                @foreach (var item in Model)
                {
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a asp-action="GetPostsByCategory" asp-controller="Post" asp-route-name="@item.Name">
                            <h2 class="post-title">@item.Name</h2>
                            <h3 class="post-subtitle">@item.Description</h3>
                        </a>
                        <!-- Divider-->
                        <hr class="my-4" />
                    </div>
                }
            }
            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Categories →</a></div>
        </div>

        <div class="col-lg-3 mx-auto">
            <div id="about-card-partial-views" class="mb-5">
                @await Html.PartialAsync("Component/_AboutCardPartial")
            </div>
            <div id="popular-tags-partial-views" class="mb-5">
                <h3>Popular tags</h3>
                @await Html.PartialAsync("Component/_PopularTagsPartial", TagService.GetTopTags(5))
            </div>
            <div id="latest-posts-partial-views" class="mb-5">
                <h3>Latest posts</h3>
                @await Html.PartialAsync("Component/_ListPostsPartial", PostService.GetLatestPosts(3))
            </div>
            <div id="most-viewed-posts-partial-views" class="mb-5">
                <h3>Most viewed posts</h3>
                @await Html.PartialAsync("Component/_ListPostsPartial", PostService.GetMostViewedPosts(3))
            </div>
        </div>
    </div>
</div>
